{{#each posts as |post|}}
<div class="card my-4" style="box-shadow: 10px 10px 0px rgb(6, 122, 255)">
  <div class="card-header bg-primary">
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">{{title}}</button>
    </div>  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">THIS IS WHERE YOU WOULD UPDATE A POST</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                THIS IS WHERE YOU WOULD TYPE THE UPDATED CONTENT
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text text-start">{{body}}</p>
        <p class="text-end" id="date">posted on: {{date}} </p> {{!-- username, date --}} 
        <button type="button" class="btn btn-danger" id="delete-post" data-bs-id="{{id}}" data-bs-title="{{title}}" onclick="postDelete()">delete post</button>
    </div>
</div>
{{/each}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary w-100 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + create post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">new post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="new-title" class="form-label">title:</label>
            <input type="text" class="form-control" placeholder="separate with '-' or '/'" id="new-title">
            </div>
            <div class="mb-3">
            <label for="new-body" class="form-label">body:</label>
            <textarea class="form-control" rows="3" id="new-body"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-post" onclick="postCreate()">+ add post</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/dash.js"></script>