{{#each posts as |post|}}
<div class="card my-4" style="box-shadow: 10px 10px 0px rgb(6, 122, 255)" data-post-id="{{id}}" id="post-card">
  <div class="card-header bg-primary text-light d-flex justify-content-between">
    <h5>{{title}}</h5> {{!-- blog title --}} 
    <p class="text-end" id="date">posted by: {{user.user_name}} , on: {{date}} </p> {{!-- username, date --}} 
  </div>
  <div class="card-body">
    <p class="card-text text-start">{{body}}</p>
    <i class="bi bi-hand-thumbs-up align-self-end"></i>
    <h5 class="text-secondary text-start">comments {{comments.length}}</h5>
    {{#each comments as |comment|}}
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapseOne">
        comment
      </button>
    </h2>
    <div id="collapse{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{body}}
        <p id="comment-user">user# {{user_id}} | {{date}}</p>
      </div> 
    </div>
    </div>
  </div>
  {{/each}}
  </div>
  <div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle my-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    + comment
  </button>
  <ul class="dropdown-menu">
    <div class="input-group m-3">
        <input type="text" class="form-control" placeholder="type comment" aria-label="Recipient's username" aria-describedby="button-addon2" id="new-comment">
        <button class="btn btn-primary" type="button" id="button-addon2" onclick="commentCreate()">submit</button>
    </div>
  </ul>
</div>
</div>
{{/each}}