{{#each posts as |post|}}
<div class="card my-4" style="box-shadow: 10px 10px 0px rgb(6, 122, 255)">
  <div class="card-header bg-primary text-light d-flex justify-content-between">
    <h5>{{title}}</h5> {{!-- blog title --}} 
    <p class="text-end" id="date">posted by: {{user.user_name}} , on: {{date}} </p> {{!-- username, date --}} 
  </div>
  <div class="card-body">
    <p class="card-text text-start">{{body}}</p>
    <i class="bi bi-hand-thumbs-up align-self-end"></i>
    <h5 class="text-secondary text-start">comments</h5>
    {{#each comments as |comment|}}
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapseOne">
        comment
      </button>
    </h2>
    <div id="collapse{{id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{body}}
        <p id="comment-user">user# {{user_id}} | {{date}}</p>
      </div> 
    </div>
    </div>
  </div>
  {{/each}}
  </div>
</div>
{{/each}}